.App {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 200px;
}

#Instrument-selector{
  width: 50%;
}

.btn-secondary{
  width: 50px;
}

p{
  font-weight: bold;
}

@media (max-width:950px) {
  #Instrument-selector{
    margin-right: 130px;
  }
}