.App {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 200px;
}

#Instrument-selector{
  width: 50%;
}

.btn-secondary{
  width: 50px;
}

p{
  font-weight: bold;
}

@media (max-width:950px) {
  #Instrument-selector{
    margin-right: 130px;
  }
}

footer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.enlaces {
  font-size: 30px;
}

.enlaces a i {
  padding: 10px;
  color: black;
}

.enlaces a i:hover{
  transition: all ease 0.3s;
  color: blue;
  font-size: 35px;
}